<section class="todoapp">
  <header class="header">
    <!-- Fix stack.name display -->
    <h1><%= @stack.name %></h1>
  </header>

  <section class="main">
    <ul class="topic-list">
        <div class="view">
          <p>Article 1 headline w/ Sentiment Score</p>
          <p>Article 2 headline w/ Sentiment Score</p>
          <p>Article 3 headline w/ Sentiment Score</p>
          <p>Article 4 headline w/ Sentiment Score</p>
          <p>Article 5 headline w/ Sentiment Score</p><br>
          <h3>Click Here to Save Your First Stack!</h3><br>
        </div>
    </ul>
  </section>

</section>

    <footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Created by <a href="https://www.linkedin.com/in/adamdudley/">Adam Dudley</a></p>
			<p>&copy 2019 Barry</p>
		</footer>
